/*.toppage:before { 
	content: "LOADING PAGE... PLEASE WAIT... BY WWW.0PLAYSTATION.COM ";
}
.toppagestyle { 
	font-size: 15px;
	font-weight: bold;
	text-decoration: underline;
}
.bottompage:before { 
	content: "LOADING PAGE... PLEASE WAIT... BY WWW.0PLAYSTATION.COM";
}
.bottompagestyle { 
	font-size: 15px;
	font-weight: bold;
	text-decoration: underline;
}*/
body {
	margin: 50px;
}
td {
	padding: 20px;
}