h2 {
	text-align: center;
	background-color: #2C6CDD;
	color: white;
	padding: 5px;
	margin: 0px;
}
input {
	width: 280px;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-top: 5px;
	margin-bottom: 10px;
}
p {
	font-size: 10px;
	padding-top: 5px;
}
tbody {
	background-color: #f8f8ff;
	font-size: 10px;
	padding-top: 5px;
}
body {
	margin: 0px;
}