/* CSS reset */
.annonce:after { 
	content: "PS1 - PS2 - PS3 SOON...";
}

.title:after { 
	content: "-0PLAYSTATION.COM-";
}



/* 
blinking annonce}*/
/*
.annonce { 
  color: black;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  20% {
    opacity: 0;
  }
}*/



  body {
  margin-bottom: 20px;
  margin-top: 20px;
}
.cont {
  display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

  margin: auto;
  width: 65%;
  padding: 0px;
}
.elem {
  height: 270px;
  width: 177px;
  border: 1px solid grey;
  margin: 8px;
  text-align: center;
  background-color: #EFEFEF;
}
.namegame {
  height: 10px;
  width: auto;
  margin: 5px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 13px;
}
.pages {
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  font-size: 18px;
  color: black;
}
.title {
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  font-size: 18px;
  color: black;
  font-family: Fantasy , Times, serif;
}

a:link    {color:black;}  /* unvisited link  */
a:visited {color:black;}  /* visited link    */
a:hover   {color:grey;}  /* mouse over link */
a:active  {color:grey;}  /* selected link   */ 

a:link    {text-decoration: none;}   /* unvisited link  */
a:visited {text-decoration: none;}   /* visited link    */
a:hover   {text-decoration: none;}  /* mouse over link */
a:active  {text-decoration: none;}   /* selected link   */ 