h2 {
	text-align: center;
	background-color: white;
	color: #243455;
	padding: 5px;
	margin: 0px;
	font-size: 15px;
	font-family: Fantasy, Times, serif;
	font-weight: 300;
}
input {
	width: 230px;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-top: 3px;
	margin-bottom: 5px;
	color: black;
	background-color: white;
	text-align: center;
	font-size: 10px;
	border-width: 1px;
	height: 8px;
}
p {
	font-size: 10px;
	padding-top: 5px;
	color: black;
	font-weight: bold;
}
table {
	margin-top: 10px;
	margin-bottom: 10px;
	border-width: 1px;
}
tbody {
	background-color: #EAECF0;
	font-size: 10px;
	padding-top: 5px;
	font-weight: bold;
}
body {
	margin: 0px;
}
button {
	width: 150px;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-top: 7px;
	margin-bottom: 10px;
	color: black;
	background-color: #EAECF0;
	text-align: center;
	font-size: 10px;
	border-width: 1px;
	border-radius: 5px;
}
.anythingtoscalecontenttoppage:before { 
	content: "WELCOME TO 0PLAYSTATION.COM";
}
.anythingtoscalestyletoppage { 
	text-align: center;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 8px;
	font-weight: bold;
	background-color: #243455;
	color: white;
	font-family: Fantasy, Times, serif;
	font-weight: 300;
}



.newupdates1:after { 
	content: "Daily Update Game 25/1/2024 اخر التحديثات التي تم اضافتها ";
}
.newupdates1style { 
	text-align: center;
	font-size: 9px;
	padding-top: 5px;
	padding-left: 200px;
	padding-right: 200px;
	margin-bottom: 2px;
	padding-bottom: 2px;
	color: #243455;
	font-weight: bold;
	text-decoration: underline;
}
.newupdates2:after { 
	content: "Add Update 1.11 (Fix 5.05 / 6.72 / 7.02 / 7.50 / 9.00) : Naruto x Boruto Ultimate Ninja Storm Connections";
}
.newupdates2style { 
	text-align: center;
	font-size: 7px;
	padding-top: 2px;
	padding-left: 200px;
	padding-right: 200px;
	margin-bottom: 2px;
	padding-bottom: 2px;
	color: black;
	font-weight: bold;
}
.newupdates3:after { 
	content: "Add DLC v2 : Naruto x Boruto Ultimate Ninja Storm Connections";
}
.newupdates3style { 
	text-align: center;
	font-size: 7px;
	padding-top: 2px;
	padding-left: 200px;
	padding-right: 200px;
	margin-bottom: 2px;
	padding-bottom: 2px;
	color: black;
	font-weight: bold;
}
.newupdates4:after { 
	content: "Add CUSA00552 – USA : The Last of Us Remastered";
}
.newupdates4style { 
	text-align: center;
	font-size: 7px;
	padding-top: 2px;
	padding-left: 200px;
	padding-right: 200px;
	margin-bottom: 2px;
	padding-bottom: 2px;
	color: black;
	font-weight: bold;
}
.newupdates5:after { 
	content: "Add CUSA00079 – USA : Injustice Gods Among Us Ultimate Edition";
}
.newupdates5style { 
	text-align: center;
	font-size: 7px;
	padding-top: 2px;
	padding-left: 200px;
	padding-right: 200px;
	margin-bottom: 2px;
	padding-bottom: 2px;
	color: black;
	font-weight: bold;
}
.newupdates6:after { 
	content: "New game (PS5) : Aspulov End of Gods";
}
.newupdates6style { 
	text-align: center;
	font-size: 7px;
	padding-top: 2px;
	padding-left: 200px;
	padding-right: 200px;
	margin-bottom: 2px;
	padding-bottom: 2px;
	color: black;
	font-weight: bold;
}
/*
.newupdates7:after { 
	content: "";
}
.newupdates7style { 
	text-align: center;
	font-size: 7px;
	padding-top: 2px;
	padding-left: 200px;
	padding-right: 200px;
	margin-bottom: 2px;
	padding-bottom: 2px;
	color: black;
	font-weight: bold;
}
*/
/*
.newupdates8:after { 
	content: "";
}
.newupdates8style { 
	text-align: center;
	font-size: 7px;
	padding-top: 2px;
	padding-left: 200px;
	padding-right: 200px;
	margin-bottom: 2px;
	padding-bottom: 2px;
	color: black;
	font-weight: bold;
}
*/
/*
.newupdates9:after { 
	content: "";
}
.newupdates9style { 
	text-align: center;
	font-size: 7px;
	padding-top: 2px;
	padding-left: 200px;
	padding-right: 200px;
	margin-bottom: 2px;
	padding-bottom: 2px;
	color: black;
	font-weight: bold;
}
*/
/*
.newupdates10:after { 
	content: "";
}
.newupdates10style { 
	text-align: center;
	font-size: 7px;
	padding-top: 2px;
	padding-left: 200px;
	padding-right: 200px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	color: black;
	font-weight: bold;
}
*/


.anythingtoscalecontentfoot:after { 
	content: "THANKS FOR YOUR VISIT";
}
.anythingtoscalestylefoot { 
	text-align: center;
	font-size: 10px;
	padding-top: 5px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	background-color: #243455;
	color: white;
}

img {
	width: 110px;
	height: 140px;
}
a {
	font-size: 7px;
	font-weight: bold;
	letter-spacing: -0.99px;
}
/* if screen size is more than 992px */
body {
  zoom: 160%;
}

/* if screen size is less than 992px */
@media screen and (max-width: 992px) {
  body {
    zoom: 150%;
  }
}

/* if screen size is less than 600px */
@media screen and (max-width: 600px) {
  body {
    zoom: 90%;
  }
}

/* if screen size is less than 500px */
@media screen and (max-width: 500px) {
  body {
    zoom: 80%;
  }
}

#submit_form {
	width: 65px;
	height: auto;
	border-radius: 5px;
	background-color: #EAECF0;
}
.videologo {
	background: rgb(27,33,43);
	background: linear-gradient(180deg, rgba(27,33,43,1) 11%, rgba(11,15,17,1) 86%, rgba(8,17,20,1) 97%);
}